* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ecf0f1;
}
/* Pre loader */
.preloader {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: rgb(14, 13, 13);
  display: grid;
  place-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.slider{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container{
  width: 100%;
  height: 100vh;
}
.slides{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: none;
  animation: fadeIn 0.5s ease;
}
.slides:first-child{
  display: block;
}
.active{
  display: block;
}

.hide{
  display: none;
}

/* Animation */
@keyframes zoom{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}
